.podstrani
{
    text-align: center;
    padding-top: 50px;
    width: 600px
}

#naslov
{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}